In [ ]:
import pandas as pd
import matplotlib.pyplot as  plt
import seaborn as sns

sns.set(style='darkgrid')
df = pd.read_csv('./fortune500.csv')
df.columns = ['year', 'rank', 'company', 'revenue', 'profit']
non_numberic_profits = df.profit.str.contains('[^0-9.-]')
# df.loc[non_numberic_profits].head()
# set(df.profit[non_numberic_profits])
df = df.loc[~non_numberic_profits]
df.profit = df.profit.apply(pd.to_numeric)
bin_sizes, _, _ = plt.hist(df.year, bins=range(1955, 2006))

In [ ]:
group_by_year = df.loc[:, ['year', 'revenue', 'profit']].groupby('year')
avgs = group_by_year.mean()
x = avgs.index
y1 = avgs.profit
def plot(x, y, ax, title, y_label):
    ax.set_title(title)
    ax.set_ylabel(y_label)
    ax.plot(x, y)
    ax.margins(x=0, y=0)
fig, ax = plt.subplots()
plot(x, y1, ax, 'Increase in mean Fortune 500 company profits from 1955 to 2005', 'Profit(millions)')

In [ ]:
y2 = avgs.revenue
fig, ax = plt.subplots()
plot(x, y2, ax, 'Increase in mean Fortune 500 company profits from 1955 to 2005', 'Revenue(millions)')

In [ ]:
def plot_with_std(x, y, stds, ax, title, y_label):
    ax.fill_between(x, y - stds, y + stds, alpha=0.2)
    plot(x, y, ax, title, y_label)
fig, (ax1, ax2) = plt.subplots(ncols=2)
title = 'Increase in mean and std Fortune 500 company %s from 1955 to 2005'
stds1 = group_by_year.std().profit.values
stds2 = group_by_year.std().revenue.values
plot_with_std(x, y1.values, stds1, ax1, title % 'profits', 'Profit (millions)')
plot_with_std(x, y2.values, stds2, ax2, title % 'revenues', 'Revenue (millions)')
fig.set_size_inches(14, 4)
fig.tight_layout()

In [ ]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/YJC6ldI3hWk" frameborder="2" allowfullscreen></iframe>

In [ ]:
%%timeit
square_evens = [n*n for n in range(1000)]

In [35]:
import  pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 5))
df

          0         1         2         3         4
0  1.181340 -0.300243 -0.526993 -0.769629  0.535435
1  0.344684 -0.988817 -1.883451 -1.126490  0.270700
2  0.495931 -0.354869  1.473733 -0.132573  3.012018
3 -0.405539 -0.495326  0.653509 -0.218767 -0.933803
4  1.401230 -0.906019  0.687400  1.639674  0.190229
5 -0.018606  0.125465  1.211637 -0.145312 -0.095329
6  0.337982  1.636158 -2.182709 -0.683381 -1.782382
7  0.352519  1.652135 -0.337736  0.243043  0.139102
8  1.522555 -1.419501 -1.048940  0.467285 -1.185012
9 -0.252587 -0.420474  1.372657 -0.330722  0.790398

In [44]:
%%bash
ls

fortune500.csv
jupyter_test.ipynb

In [45]:
%%capture

UsageError: %%capture is a cell magic, but the cell body is empty.